<footer class="site-footer">
  <div class="container footer-flex">
    <img src="/assets/images/logo.jpg" alt="Inkwell Logo Small" class="footer-logo">
    <div class="footer-text">
      <p><strong>Accessable Public Health Knowledge</strong></p>
      <p>&copy; {{ site.time | date: "%Y" }} Midgrabens International. All rights reserved.</p>
      <p class="footer-links">
        <a href="/services/">Services</a> | 
        <a href="/contact/">Contact</a>
      </p>
    </div>
  </div>
</footer>
