<header>
  <div class="container header-flex">
    <div class="logo-title">
      <img src="{{ '/assets/images/white_midgrabens.png' | relative_url }}" alt="Inkwell Logo" class="logo">
    </div>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/services/' | relative_url }}">Services</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        <li><a href="https://www.linkedin.com/rkimble" target=" _blank" rel = "noopener noreferrer" title="Find me on LinkedIn">
          <img src="{{ 'assets/images/linkedinlogo.png' | relative_url }}"
            alt="LinkedIn"
            style="height:20px; width:auto; vertical-align:middle; margin-left:10px;" />
        </a></li>
      </ul>
    </nav>
  </div>
</header>
