<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} </title>
  
  <meta name="description" content="Midgrabens International delivers data-driven insights across public health, environmental systems, and policy strategy. Built for researchers, analysts, and decision-makers.">
  <meta name="keywords" content="data analysis, public health dashboards, policy data visualization, geospatial analysis, health data science, environmental modeling, strategic analytics, Midgrabens>
  <meta name="author" content="Midgrabens International">
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {% seo %}
  
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
    
    {% if page.tags %}
      <section class="tag-links">
        <h3>Tagged:</h3>
        <ul class="tag-list">
          {% for tag in page.tags %}
            <li><a href="/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  </main>

  {% include footer.html %}

</body>
</html>
